/* Coolors Exported Palette - https://coolors.co/eff1ed-373d20-717744-bcbd8b-766153 */

/* CSS HEX */
--cultured: #eff1edff;
--kombu-green: #373d20ff;
--spanish-bistre: #717744ff;
--sage: #bcbd8bff;
--umber: #766153ff;

/* CSS HSL */
--cultured: hsla(90, 12%, 94%, 1);
--kombu-green: hsla(72, 31%, 18%, 1);
--spanish-bistre: hsla(67, 27%, 37%, 1);
--sage: hsla(61, 27%, 64%, 1);
--umber: hsla(24, 17%, 39%, 1);

/* SCSS HEX */
$cultured: #eff1edff;
$kombu-green: #373d20ff;
$spanish-bistre: #717744ff;
$sage: #bcbd8bff;
$umber: #766153ff;

/* SCSS HSL */
$cultured: hsla(90, 12%, 94%, 1);
$kombu-green: hsla(72, 31%, 18%, 1);
$spanish-bistre: hsla(67, 27%, 37%, 1);
$sage: hsla(61, 27%, 64%, 1);
$umber: hsla(24, 17%, 39%, 1);

/* SCSS RGB */
$cultured: rgba(239, 241, 237, 1);
$kombu-green: rgba(55, 61, 32, 1);
$spanish-bistre: rgba(113, 119, 68, 1);
$sage: rgba(188, 189, 139, 1);
$umber: rgba(118, 97, 83, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #eff1edff, #373d20ff, #717744ff, #bcbd8bff, #766153ff);
$gradient-right: linear-gradient(90deg, #eff1edff, #373d20ff, #717744ff, #bcbd8bff, #766153ff);
$gradient-bottom: linear-gradient(180deg, #eff1edff, #373d20ff, #717744ff, #bcbd8bff, #766153ff);
$gradient-left: linear-gradient(270deg, #eff1edff, #373d20ff, #717744ff, #bcbd8bff, #766153ff);
$gradient-top-right: linear-gradient(45deg, #eff1edff, #373d20ff, #717744ff, #bcbd8bff, #766153ff);
$gradient-bottom-right: linear-gradient(135deg, #eff1edff, #373d20ff, #717744ff, #bcbd8bff, #766153ff);
$gradient-top-left: linear-gradient(225deg, #eff1edff, #373d20ff, #717744ff, #bcbd8bff, #766153ff);
$gradient-bottom-left: linear-gradient(315deg, #eff1edff, #373d20ff, #717744ff, #bcbd8bff, #766153ff);
$gradient-radial: radial-gradient(#eff1edff, #373d20ff, #717744ff, #bcbd8bff, #766153ff);